<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>회원가입</title>
    </script>
</head>

<body>
    <form action="/sign" method="POST">
        <div class="wrap">
            <div class="form-wrap">
                <h1 class="social-icons">회원가입</h1>
                <input type="text" class="input-field" placeholder="id를 입력하세요" id="signup_id" name="signup_id" /><br>
                <input type="password" class="input-field" placeholder="pw를 입력하세요" id="signup_pw"
                    name="signup_pw" /><br><br>
                <input type="submit" class="submit2" id="signupbtn2" value="회원가입완료" style="text-align: center;" />
            </div>
        </div>
    </form>
</body>

</html>