<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>1724418_TermProject</title>
</head>

<body>
    <form>
        <div class="wrap">
            <div class="form-wrap">
                <h1 class="social-icons img"><img src="/img/ygosu.png" width="100" height="100" /></h1>
                <h1 class="social-icons">와고대학교</h1>
                <input type="text" class="input-field" placeholder="id를 입력하세요" id="input_id" name="input_id" /><br>
                <input type="password" class="input-field" placeholder="pw를 입력하세요" id="input_pw"
                    name="input_pw" /><br><br>
                <input type="submit" class="submit" id="signinbtn" value="로그인" style="color: white;"
                    formaction="/tempsignin" formmethod="POST" /><br>
                <input type="submit" class="submit" id="signupbtn" value="회원가입" style="color: white; "
                    formaction="/signup" formmethod="GET" />
            </div>
        </div>
    </form>
</body>

</html>